<%= render "shared/header" %>

<div class="users-list-header">
  <h2>フォロー中のユーザー</h2>
  <form>
    <input type="checkbox" id="remove-follow">
    <label for="remove-follow">フォローをはずす</label>
  </form>
  <%= search_form_for @q, url: search_followings_path, id: 'following-user-search-form' do |f| %>
    <%= f.label :name, 'タグで絞り込む' %><br>
    <%= f.collection_select(:name, FollowingTag.all, :id, :name, {include_blank: '---'}) %>
  <% end %>
</div>

<ul class="following-users-list">
  <% current_user.followings.each do |following| %>
    <% user = User.find(following.following_id) %>
    <li class="following-user-list-item"> 
      <%= link_to user.nickname, following_path(following) %>
      <%= link_to 'followをはずす', following_path(following), method: :delete, class: 'followed-button hidden' %>
      <div class="added-following-tag">
        <% following.following_tags.each do |tag| %>
          <div class="following-tag-item"># <%= tag.name %></div>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>

<%= render "shared/footer" %>