<%= render "shared/header" %>

<div class="container">
  <h4 class="mt-4">フォロー中のユーザー</h4>
  <%= render 'following_user_search_form' %>
</div>

<div class="container">
  <ul class="following-users-list">
    <% current_user.followings.each do |following| %>
      <% user = User.find(following.following_id) %>
      <li class="following-user-list-item"> 
        <%= link_to user.nickname, following_path(following) %>
        <%= link_to 'followをはずす', following_path(following), method: :delete, class: 'followed-button hidden' %>
        <div class="added-following-tag">
          <% following.following_tags.each do |tag| %>
            <div class="following-tag-item"># <%= tag.name %></div>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<%= render "shared/footer" %>