<%= render "shared/header" %>

<div class="container">
  <h4 class="mt-4">フォロー中のユーザーを <span class="following_user_searching_tag">＃ <%= @following_tag.name %></span> タグで絞り込む</h4>
  <%= render 'following_user_search_form' %>
</div>

<div class="container">
  <ul class="following-users-list">
    <% current_user.followings.each do |following| %>
      <div class="container">
        <div class="row">
          <% if following.following_tags.include?(@following_tag) %>
            <% user = User.find(following.following_id) %>
            <li class="following-user-list-item col-8"> 
              <%= link_to user.nickname, user_path(user) %>
              <%= link_to 'followをはずす', following_path(following), method: :delete, class: 'followed-button hidden' %>
              <div class="added-following-tag">
                <% following.following_tags.each do |tag| %>
                  <div class="following-tag-item"># <%= tag.name %></div>
                <% end %>
              </div>
            </li>
            <%= link_to "タグをつける", following_path(following), class: 'col-2 to-following-show-btn btn ms-3 my-1' %>
          <% end %>
        </div>
      </div>
      
    <% end %>
  </ul>
</div>

<%= render "shared/footer" %>