<%= render "shared/header" %>

<div><%= @user.nickname %>さんのページ</div>
<ul>
  <li>年齢　：<%= @user.user_detail&.age %></li>
  <li>性別　：<%= @user.user_detail&.gender.name %></li>
  <li>居住地：<%= @user.user_detail&.prefecture.name %> <%= @user.user_detail&.city %></li>
  <li>趣味　：<%= @user.user_detail&.hobby %></li>
</ul>

<%= render "shared/footer" %>
