<%= render "shared/header" %>

<div><%= @user.nickname %>さんのページ</div>

<ul>
  <li>年齢　：<%= @user.user_detail&.age %></li>
  <li>性別　：<%= @user.user_detail&.gender.name %></li>
  <li>居住地：<%= @user.user_detail&.prefecture.name %> <%= @user.user_detail&.city %></li>
  <li>趣味　：<%= @user.user_detail&.hobby %></li>
</ul>

<% if current_user.id == @user.id %>
  <%= link_to "登録情報を編集する", edit_user_path(current_user) %><br>
  <% if current_user.user_detail.present? %>
    <%= link_to "詳細情報を編集する", edit_user_user_detail_path(current_user, current_user.user_detail) %>
  <% else %>
    <%= link_to "詳細情報を登録する", new_user_user_detail_path(current_user) %>
  <% end %>
<% end %>


<%= render partial: 'home/room_index', locals: {rooms: @user.rooms } %>

<%= render "shared/footer" %>