<%= render "shared/header" %>

<div class="container">
  <div class="row mt-2">
    <h4 class="mt-3 col-3"><%= @user.nickname %>さんのページ</h4>
    <% if user_signed_in? %>
      <% unless current_user&.id == @user.id %>
        <div class="col-9 mt-2">
          <% if following = Following.find_by(following_id: @user.id, user_id: current_user.id) %>
            <%= link_to 'followをはずす', following_path(following), method: :delete, class: 'col-3 btn-secondary btn me-1' %>
            <%= link_to "タグをつける", following_path(following), class: 'col-3 btn-primary btn me-1' %>
          <% else %>
            <%= link_to 'followする', followings_path(following_user: @user.id), method: :post, class: 'col-3 btn-primary btn me-1' %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <ul>
    <li>年齢　：<%= @user.user_detail&.age %></li>
    <li>性別　：<%= @user.user_detail&.gender&.name %></li>
    <li>居住地：<%= @user.user_detail&.prefecture&.name %> <%= @user.user_detail&.city %></li>
    <li>趣味　：<%= @user.user_detail&.hobby %></li>
  </ul>
  <% if current_user&.id == @user.id %>
    <%= link_to "登録情報を編集する", edit_user_path(current_user) %><br>
    <% if current_user.user_detail.present? %>
      <%= link_to "詳細情報を編集する", edit_user_user_detail_path(current_user, current_user.user_detail) %>
    <% else %>
      <%= link_to "詳細情報を登録する", new_user_user_detail_path(current_user) %>
    <% end %>
  <% end %>
</div>

<div class="container mt-5 mb-1">
  <div class="row">
    <h4>・主催中のイベント</h4>
  </div>
</div>
<div class="event-wrapper container p-0">
  <div class="event-wrapper-second">
    <%= render partial: 'home/room_index', locals: {rooms: @rooms } %>
  </div>
</div>

<% if current_user&.id == @user.id %>
  <div class="container mt-5 mb-1">
    <div class="row">
      <h4>・いいねしたイベント</h4>
    </div>
  </div>
  <div class="event-wrapper container p-0">
    <div class="event-wrapper-second">
      <ul class="row p-3">
        <% current_user.goods.each do |good| %>
          <% user = User.find(good.room.create_user_id) %>
          <div class="col-3 p-4">
            <li class='event-list-item<%= user.user_detail.gender_id %>'>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">
                    <% if good.room.name.present? %>
                      <div><%= link_to good.room.name, room_path(good.room) %></div>
                    <% else %>
                      <div><%= link_to "#{good.room.room_detail&.date}＠#{good.room.room_detail&.place}", room_path(good.room) %></div>
                    <% end %>
                  </h5>
                  <div class="card-text mb-1"><%= good.room.room_detail&.place %></div>
                  <div class="card-text mb-1"><%= good.room.room_detail&.date %></div>
                  <div class="card-text mb-1"><%= good.room.room_detail&.number_of_people %>人 - <%= good.room.room_detail&.number_of_people %>人</div>
                  <div class="card-text mb-1"><%= good.room.room_detail&.atmosphere %></div>
                  <div class="card-text mb-1"><%= good.room.room_detail&.treat&.name %></div>
                  <div class="card-text mb-1">主催者：<%= link_to user.nickname, user_path(user), class:'card-link' %></div>
                </div>
              </div>
            </li>
          </div>
        <% end %>
      </ul>
    </div>
  </div>

<div class="container mt-5 mb-1">
  <div class="row">
    <h4>・参加中のイベント</h4>
  </div>
</div>
  <div class="event-wrapper container p-0">
    <div class="event-wrapper-second">
      <%= render partial: 'home/room_index', locals: {rooms: @user.rooms } %>
    </div>
  </div>
<% end %>

<%= render "shared/footer" %>