<div class="event-items-wrapper">
  <ul class="event-items-list">
    <% rooms.each do |room| %>
      <li>
        <% if room.name.present? %>
          <div><%= link_to room.name, room_path(room) %></div>
        <% else %>
          <div><%= link_to "#{room.room_detail&.date}＠#{room.room_detail&.place}", room_path(room) %></div>
        <% end %>
        <div><%= room.room_detail&.place %></div>
        <div><%= room.room_detail&.date %></div>
        <div><%= room.room_detail&.number_of_people %>人 - <%= room.room_detail&.number_of_people %>人</div>
        <div><%= room.room_detail&.atmosphere %></div>
        <div><%= room.room_detail&.treat&.name %></div>
      </li>
    <% end %>
  </ul>
</div>