<%= render "shared/header" %>

<div class="container mb-5">
  <h2 class="mt-3">イベントを編集する</h2>
  <%= form_with(model: @room, local: true, class: 'mb-3') do |f| %>
    <%= f.text_field :name, placeholder: 'イベント名' %>
    <%= f.submit '編集' %>
  <% end %>

  <%= link_to 'イベントを削除する', room_path(@room), method: :delete %>
</div>


<%= render "shared/footer" %>