<%= render "shared/header" %>

<div class="container mb-5">
  <h2 class="mt-3">イベントを作成する</h2>
  <%= form_with(model: @room, local: true) do |f| %>
    <%= f.text_field :name, placeholder: 'イベント名' %>
    <%= f.submit '作成' %>
  <% end %>
</div>


<%= render "shared/footer" %>