<%= render "shared/header" %>
<h1>イベント名　<%= @room.name %></h1>
<ul>
  <li>開催場所：<%= @room.room_detail&.place %></li>
  <li>開催日　：<%= @room.room_detail&.date %></li>
  <li>人数　　：<%= @room.room_detail&.number_of_people %>人 - <%= @room.room_detail&.number_of_people %>人</li>
  <li>雰囲気　：<%= @room.room_detail&.atmosphere %></li>
  <li>Trick or Treat：<%= @room.room_detail&.treat&.name %></li>
  <li>主催者　：<%= link_to @user.nickname, user_path(@user) %></li>
  <li>
    メンバー：
    <% @room.users.each do |user| %>
      <%= link_to user.nickname, user_path(user) %>・
    <% end %>
  </li>
</ul>

<% if @room.users.include?(current_user) %>
  <%= link_to "ルーム名を編集する・ルームを削除する", edit_room_path(@room) %><br>
  <% if @room.room_detail.present? %>
    <%= link_to "詳細情報を編集する", edit_room_room_detail_path(@room, @room.room_detail) %>
  <% else %>
    <%= link_to "詳細情報を登録する", new_room_room_detail_path(@room) %>
  <% end %>
  <%= form_with(model:@user_room_intermediate, local: true, url: invite_room_path(@room)) do |f| %>
    <% following_users = [] %>
    <% current_user.followings.each do |following| %>
      <% following_users << User.find(following.following_id) %>
    <% end %>
    <%= f.label :invited_user_id, 'メンバーを追加する' %><br>
    <%= f.collection_select :invited_user_id, following_users, :id, :nickname, {include_blank: '---'} %>
    <%= f.submit '追加' %>
  <% end %>
<% end %>

<% if @room.matched == 'yet' %>
  <% if user_signed_in? %>
    <% unless @room.users.include?(current_user) %>
      <% if good = Good.find_by(user_id: current_user.id, room_id: @room.id) %>
        <div class="room-good-wrapper">
          🌟　<%= good.text %>　：　<%= good.user.nickname %>
          <%= link_to '削除', room_good_path(@room, good), method: :delete, class: 'good-delete-button' %>
        </div>
      <% else %>
        <%= form_with(model:[@room, @good], local: true, class: "room-good-form") do |f| %>
          <%= f.label :text, 'いいねする❕' %><br>
          <%= f.text_field :text, placeholder: 'アピール' %>
          <%= f.submit 'いいね！' %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<div class="room-message-wrapper">
  <h2>☆message☆</h2>
  <div class="room-message-list">
    <ul>
      <% @messages.each do |message| %>
        <li>
          <p><%= message.user.nickname %>:</p>
          <div>
            <%= message.text %>
            <% if current_user == message.user %>
              <%= link_to '削除', room_message_path(@room, message), method: :delete %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <% if @room.users.include?(current_user) %>
    <%= form_with(model:[@room, @message], local: true, class: 'room-message-form') do |f| %>
      <%= f.text_field :text %>
      <%= f.submit 'コメントする' %>
    <% end %>
  <% end %>
</div>

<% if @room.matched == 'yet' %>
  <% if @room.users.include?(current_user) %>
    <div class="room-good-wrapper">
      <h2>もらった いいね❕</h2>
      <div class="room-good-list">
        <ul>
          <% @goods.each do |good| %>
            <li>
              🌟　<%= good.text %>　：　<%= link_to good.user.nickname, user_path(good.user) %>
              <% if current_user.id == @room.create_user_id %>
                <%= link_to 'allow', allow_room_path(@room, allowed_user_id: good.user.id), class: 'room-allow-button' %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>

<%= render "shared/footer" %>