<%= render "shared/header" %>
<h1>イベント名　<%= @room.name %></h1>
<ul>
  <li>開催場所：<%= @room.room_detail&.place %></li>
  <li>開催日　：<%= @room.room_detail&.date %></li>
  <li>人数　　：<%= @room.room_detail&.number_of_people %>人 - <%= @room.room_detail&.number_of_people %>人</li>
  <li>雰囲気　：<%= @room.room_detail&.atmosphere %></li>
  <li>Trick or Treat：<%= @room.room_detail&.treat&.name %></li>
</ul>


<%= link_to "ルーム名を編集する・ルームを削除する", edit_room_path(@room) %><br>
<% if @room.room_detail.present? %>
  <%= link_to "詳細情報を編集する", edit_room_room_detail_path(@room, @room.room_detail) %>
<% else %>
  <%= link_to "詳細情報を登録する", new_room_room_detail_path(@room) %>
<% end %>

<div class="room-message-wrapper">
  <h2>☆message☆</h2>
  <div class="room-message-list">
    <ul>
      <% @messages.each do |message| %>
        <li>
          <p><%= message.user.nickname %>:</p>
          <div><%= message.text %><%= link_to '削除', room_message_path(@room, message), method: :delete %></div>
        </li>
      <% end %>
    </ul>
  </div>
  <%= form_with(model:[@room, @message], local: true, class: 'room-message-form') do |f| %>
    <%= f.text_field :text %>
    <%= f.submit 'コメントする' %>
  <% end %>
</div>


<%= render "shared/footer" %>