<div class='account-page__inner--right user-form'>
  <%= form_with model: [@room, @room_detail], local: true do |f|%>
    <div class='field'>
      <div class='field-label'>
        <%= f.label :place, '開催場所'%>
      </div>
      <div class='field-input'>
        <%= f.text_field :place %>
      </div>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">開催日</label>
      </div>
      <div class='input-date-wrap'>
        <%= raw sprintf(
                    f.date_select(
                      :date,
                      class:'select-birth',
                      id:"birth-date",
                      use_month_numbers: true,
                      prompt:'--',
                      start_year: (Time.now.year),
                      end_year: (Time.now.year + 1),
                      date_separator: '%s'),
                    "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
      </div>
    </div>
    <div class='field'> 
      <div class='field-label'>
        <%= f.label :number_of_people, '相手の希望人数'%>  
      </div>
      <div class='field-input'>
        <%= f.select :number_of_people, 1..200, {include_blank: '---'}%><em>人</em>
      </div>
    </div>
    <div class='field'>
      <div class='field-label'>
        <%= f.label :atmosphere, 'ノリ' %>
      </div>
      <div class='field-input'>
        <%= f.text_field :atmosphere %>
      </div>
    </div>
    <div class='field'>
      <div class='field-label'>
        <%= f.label :treat_id, 'Trick or Treat' %>
      </div>
      <div class='field-input'>
        <%= f.collection_select(:treat_id, Treat.all, :id, :name, {include_blank: '---'})%>
      </div>
    </div>
    <div class='actions'>
      <% if @room.room_detail.present? %>
        <%= f.submit "Update", class: 'btn'%>
      <% else %>
        <%= f.submit "Create", class: 'btn'%>
      <% end %>
    </div>
  <% end %>
</div>