<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h2>Details Regstration</h2>
      <h5>詳細情報の登録</h5>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>
      <%= link_to "マイページに戻る", :back, class: 'btn'%>
    </div>
    <div class='account-page__inner--right user-form'>
      <%= form_with model: @user_detail, url: user_user_details_path(current_user), local: true do |f|%>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :age%>
          </div>
          <div class='field-input'>
            <%= f.text_field :age, autofocus: true%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :gender_id%>
          </div>
          <div class='field-input'>
            <%= f.collection_select(:gender_id, Gender.all, :id, :name, {include_blank: '---'})%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :prefecture_id%>
          </div>
          <div class='field-input'>
            <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {include_blank: '---'})%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :city%>
          </div>
          <div class='field-input'>
            <%= f.email_field :city%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :hobby%>
          </div>
          <div class='field-input'>
            <%= f.email_field :hobby%>
          </div>
        </div>
        <div class='actions'>
          <%= f.submit "Update", class: 'btn'%>
        </div>
      <% end %>
    </div>
  </div>
</div>
